name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: denoland/setup-deno@v1.1.1
        with:
          deno-version: v1.x

      - run: deno fmt --check

      - run: deno lint

      - run: deno task test:ci  # TODO(seb): figure out tests that hit prod
